* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   
}

@font-face {
  font-family: "Starship Grunge";
  src: url("StarshipGrunge.ttf");
  }
@font-face {
    font-family: "Starship Grunge";
    src: url("StarshipGrunge.otf");
  }
  

body {
  font-family: 'Times New Roman', Times, serif;
  text-decoration-color: black;
  align-content: center;
  background-color: rgba(159, 61, 179, 0.479);
  background-blend-mode: lighten;
      
}

.wrapper {
width: 1200px;
height: 1124px;
margin: 0 auto;
}

h1, h2 {
  text-align: center;
  padding: 5px;
}
img {
  height: 100px;
  width: auto;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0,0,0,0.65) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%);
  padding: 10px;
}

input [type="text"] {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

input [type="textarea"] {
      font-family: 'Times New Roman', Times, serif;
      font-size: 16px;
}

input::placeholder {
  font-family: 'Times New Roman', Times, serif;  
  font-size: 16px;
}
textarea::placeholder{
  font-family: 'Times New Roman', Times, serif;  
  font-size: 16px;  
}

.clear {
  clear: both;
}

.leftCol {
  float: left;
  width: 50%;
  height: 980px;
  margin: 0 auto;
  background-size: cover;
  background-blend-mode: lighten;
  padding: 10px;
  font-size: 16px;
}

.rightCol {
  float: right;
  width: 50%;
  height: 980px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-image: linear-gradient(rgba(226, 224, 224, 0.575), rgba(226, 224, 224,  0.575)), url("images/time-machine-6264908_640.jpg");
  background-position: center;
  padding: 10px;
}

.steampunk {
  font-family: 'Starship Grunge', sans-serif;
  font-size: 26px;  
}

#initial{
  font-size: 72px;
 font-weight: bolder;
 text-transform: capitalize;
}

#entireName {
 font-size: 48px; 
 font-weight: bolder;
}

.output {
display: block;
text-align: center; 
align-content: center;
font-family: 'Starship Grunge', sans-serif;
} 

.outPWeddingDetails {
  font-size: 26px;
  font-weight: bold;
}





                     
                                     



  
  
  